<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>CV Jose Caviedes</title>
</head>

<body>


    <div class="container">
        <div class="profile">
            <img class="img-profile" src="../img/perfil.jpg">
            <h1 class="title-profile">José Farith Caviedes Medina</h1>
            <h2 class="subtitle-profile"> Developer jr</h2>
        </div>
    </div>
    <section class="menu">
        <ul>
            <li><a href="sobremi.html">Sobre mi</a></li>
        </ul>
    </section>
    <footer class="footer">
        <div>
            <ul>
                <a href="https://github.com/JoseFCM?tab=repositories" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.facebook.com/joseC.caviedes" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://instagram.com/jofaca98?igshid=NGExMmI2YTkyZg==" target="_blank"><i class="fa-brands fa-instagram"></i> </a>
                <a href="https://www.linkedin.com/in/jos%C3%A9-farith-caviedes-medina-030a1621a/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </ul>
        </div>
    </footer>

</body>

</html>