<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>CV Jose Caviedes</title>
</head>

<body>
    <section class="menu2">
        <ul>
            <li><a href="inicio.html">Inicio</a></li>
        </ul>
    </section>
    <section class="info">
        <div>
            <h1>Información personal</h1>
            <hr class="hr">
            <ul>
                <li><strong>Nombre completo:</strong> José Farith Caviedes Medina</li>
                <li><strong>Edad:</strong> 25 años</li>
                <li><strong>Nacionalidad:</strong> Colombiano/a</li>
            </ul>

            <h1>Perfil profesional</h1>
            <hr class="hr">
            <ul>
                <li><strong>Título profesional:</strong> Desarrollador de Software</li>
                <li><strong>Especialización:</strong> Front-end</li>
            </ul>

            <h1>Experiencia laboral</h1>
            <hr class="hr">
            <ul>
                <li><strong>Nombre de la empresa:</strong> Proximate</li>
                <li><strong>Cargo:</strong> Desarrollador de Front-end</li>
                <li><strong>Responsabilidades y logros destacados en Proximate:</strong>
                    <ul>
                        <li>Desarrollo y mantenimiento de aplicaciones web utilizando tecnologías front-end como Java,
                            JavaScript y Kotlin.</li>
                        <li>Implementación de frameworks como Angular para crear interfaces de usuario interactivas y de
                            alta calidad.</li>
                        <li>Colaboración con equipos multidisciplinarios para garantizar la entrega exitosa de
                            proyectos.</li>
                    </ul>
                </li>
            </ul>

            <h1>Educación</h1>
            <hr class="hr">
            <ul>
                <li><strong>Título universitario:</strong> Ingeniería de sistemas</li>
                <li><strong>Universidad:</strong> Universidad Nacional a distancia</li>
            </ul>

            <h1>Habilidades técnicas</h1>
            <hr class="hr">
            <ul>
                <li><strong>Lenguajes de programación:</strong> Java, JavaScript, Kotlin</li>
                <li><strong>Frameworks y tecnologías:</strong> Angular</li>
            </ul>

            <h1>Idiomas</h1>
            <hr class="hr">
            <ul>
                <li><strong>Español:</strong> Nativo</li>
                <li><strong>Inglés:</strong> Básico</li>
            </ul>
        </div>
    </section>
    <footer class="footer">
        <div>
            <ul>
                <a href="https://github.com/JoseFCM?tab=repositories" target="_blank"><i
                        class="fa-brands fa-github"></i></a>
                <a href="https://www.facebook.com/joseC.caviedes" target="_blank"><i
                        class="fa-brands fa-facebook"></i></a>
                <a href="https://instagram.com/jofaca98?igshid=NGExMmI2YTkyZg==" target="_blank"><i
                        class="fa-brands fa-instagram"></i> </a>
                <a href="https://www.linkedin.com/in/jos%C3%A9-farith-caviedes-medina-030a1621a/" target="_blank"><i
                        class="fa-brands fa-linkedin"></i></a>
            </ul>
        </div>
    </footer>

</body>

</html>